@import '../../style/theme.scss';

.tile-container {
  width: 9rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;

  &:hover #animate {
    opacity: 0;
  }

  p {
    width: 100%;
    text-align: center;
  }
}

.tile-container-default {
  background: $white;
  border: 1px solid $grey-3;

  p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
  }
}

.tile-container-selected {
  background: $green-6;
  border: 1px solid $green-2;

  #animate {
    background: $green-6; // once selected we need to remove the preciously set background
    opacity: 0;
  }
}

.tile-label-bold {
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  line-height: 1.5rem !important;
  letter-spacing: -0.03em !important;
}

#animate {
  position: absolute;
  background: $white; // we need background because default svg has a transparent background
  transition: 0.5s ease;
}
