@import '../style/theme.scss';

.btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: unset;
}

.btn-lg {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.btn-md {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.btn-sm {
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn-xs {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.btn-solid {
  color: $white;
  background-color: $green-1;
}

.btn-ghost {
  color: $green-1;
  background-color: $white;
  border: 0.125rem solid $green-1;
}

.btn-text {
  color: $green-1;
  background-color: $transparent;
  border: none;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
}

.btn-icon-left svg {
  margin-right: 0.625rem;
  fill: $white;
}

.btn-icon-right svg {
  margin-left: 0.625rem;
}
