// green colors
$green-1: #3c501f;
$green-2: #5c7634;
$green-3: #a7b754;
$green-4: #c3d65d;
$green-5: #e3e9a5;
$green-6: #f7f8f1;

// grey colors
$grey-1: #272727;
$grey-2: #6f6f6f;
$grey-3: #a8a8a8;
$grey-5: #dfdfdf;
$grey-6: #f3f3f3;

// Orange
$orange-1: #db7313;

// Error
$error: #c22c24;

// Special
$special-red: #c23151;

// Black
$black: #000000;

// White
$white: #ffffff;

// Transparent
$transparent: transparent;
